---
layout: base
---

<section class="usa-graphic_list clearfix ">
    <div class="usa-width-three-fourths usa-layout-docs-main_content">

        <!--{% if page.title == 'Department of Health and Human Resources' %}-->
        <h1>
            {{page.title}} &nbsp;<a href="{{ _agency-pages.office1-link}}" target="_blank"><img src="{{site.baseurl}}/{{ _agency-pages.agency-logo }}" alt="{{ _agency-pages.alt }}" align="center" width="87"></a>
            <!--beginning of second seal for USAID-->
            <!--end of second seal for USAID-->
        </h1>



        <div class="usa-grid usa-graphic_list-row">
            <div class="usa-width-one-whole usa-media_block">
                <h2 style="color:#046b99;padding-bottom:1rem;">Agency Evidence Plan</h2>
            </div>
        </div>
        <div class="usa-grid usa-graphic_list-row">
            <div class="usa-width-one-third usa-media_block agency-page-link">
                <h3 class="agency-link-title"><center>Learning Agenda</center></h3>
                <div class="agency-link-banner">
                    <center><a href="{{ _agency-pages.office1-link}}" target="_blank"><img src="..\images\learning-agenda-circle-icon.png" alt="icon" width="87"> </a></center>
                </div>
                <div class="agency-link-learnmore">
                    <!--beginning of strategic plan buttons for State/USAID-->
                    <!--end of strategic plan buttons for State/USAID-->

                    <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;" href="{{ _agency-pages.office1-link}}" target="_blank">Will be released February 2022 &#10095;</a></p></center>
                    <!--<center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;" href="/housing_and_urban_development/HUD-Strategic-Objectives.pdf" target="_blank">Strategic Objectives &#10095;</a></p></center>-->

                </div>
            </div>

            <div class="usa-width-one-third usa-media_block agency-page-link">
                <h3 class="agency-link-title"><center>Capacity Assessment</center></h3>
                <div class="agency-link-banner">
                    <center><a href="{{ _agency-pages.office1-link}}" target="_blank"><img src="..\images\capacity-assessment-circle-icon@2x.png" width="87"> </a></center>
                </div>
                <div class="agency-link-learnmore">

                    <!--beginning of performance plan buttons for State/USAID-->
                    <!--end of performance plan buttons for State/USAID-->
                    <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;" href="{{ _agency-pages.office1-link}}" target="_blank">READ THE PLAN &#10095;</a></p></center>

                </div>
            </div>


            <div class="usa-width-one-third usa-media_block agency-page-link">
                <h3 class="agency-link-title"><center>Annual Evaluation Plan</center></h3>
                <div class="agency-link-banner">
                    <center><a href="../housing_and_urban_development/APG_hud_1.html"><img src="..\images\annual-evaluation-plan-circle-icon@2x.png" alt="icon" width="87"> </a></center>
                </div>
                <div class="agency-link-learnmore">

                    <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;" href="{{ _agency-pages.office1-link}}">Fiscal Year 20222 &#10095;</a></p></center>
                    <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;" href="{{ _agency-pages.office1-link}}">Fiscal Year 2021 &#10095;</a></p></center>

                </div>
            </div>
        </div>

        <div class="usa-grid usa-graphic_list-row">
            <div class="usa-width-one-whole usa-media_block agency-page-section">
                <h2 style="color:#046b99;">Agency Evaluation Information</h2>
                <p>Evaluation Officer</p>
                <p>Evaluation Policy</p>
            </div>
        </div>

        <div class="usa-grid usa-graphic_list-row">
            <div class="usa-width-one-whole usa-media_block agency-page-section">
                <h2 style="color:#046b99;">Relevant Offices</h2>
                <p>
                    HUD works to: support responsible homeownership for creditworthy but underserved populations, help meet the need for quality affordable housing, end homelessness, promote self-sufficiency for HUD-assisted residents, and remove lead-based paint hazards and other health and safety risks from homes.
                </p>
            </div>
        </div>

        <div class="usa-grid usa-graphic_list-row">
            <div class="usa-width-one-whole usa-media_block">
                <p>To access additional agency performance documents <a href="{{ _agency-pages.office1-link}}" target="_blank">visit the agency’s website</a>.</p>
            </div>
        </div>
        <!--{% endif %}-->
</section>